.app {
  display: flex;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio for responsive video */
  margin-right: 10px;
}
 .video-react-big-play-button {
  display: none !important;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.playlist {
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
}

.playlist-item {
  padding: 10px;
  cursor: pointer;
}

.playlist-item.active {
  background-color: #ccc;
}
